p.first
 {
 color:navy;
 font-size:12pt;
 }
p.first:first-line
 {
 color:red;
 font-size:20pt;
 font-weight:bold;
 }

 p.second:before
 {
 content:"TO SĄ ĆWICZENIA";
 font-size:15pt;
 font-style:italic;
 font-weight:bold;
 }
p.second:after
 {
 content:"AUTOR Król Lew";
 font-size:15pt;
 font-style:italic;
 font-weight:bold;
 }

p.third
 {
 color:navy;
 font-size:30pt;
 }
p.third:first-letter
 {
 color:red;
 font-size:100pt;
 }